.button-group {
  vscode-button + vscode-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  vscode-button:has(+ vscode-button) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
