.spacerxsmall {
  height: var(--space-xsmall);
}

.spacersmall {
  height: var(--space-small);
}

.spacermedium {
  height: var(--space-medium);
}

.spacerlarge {
  height: var(--space-large);
}

.spacerxlarge {
  height: var(--space-xlarge);
}

.spacerxxlarge {
  height: var(--space-xxlarge);
}
