{
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "error",
    "no-restricted-globals": ["error", "name", "length"]
  },
  "parserOptions": {
    "ecmaVersion": "2017"
  }
}
