src/test/emulators/extensions/firebase/storage-resize-images@0.1.18/functions/node_modules/*
src/test/emulators/extensions/firebase/storage-resize-images@0.1.18/functions/package.json
src/test/emulators/extensions/firebase/storage-resize-images@0.1.18/functions/package-lock.json
scripts/functions-deploy-tests/**/package-lock.json
scripts/functions-discover-tests/**/**/package-lock.json
.dataconnect
*-debug.log

/.vscode
node_modules
/coverage
/.coverage
/.nyc_output
firebase-debug.log
firebase-debug.*.log
npm-debug.log
ui-debug.log
yarn.lock
.npmrc

.DS_Store
.idea
*.iml
*.tgz
scripts/*.json

lib/
dev/
clean/
