/templates
/node_modules
/lib/**/*
/CONTRIBUTING.md
/scripts/frameworks-tests/vite-project/**
/scripts/webframeworks-deploy-tests/angular/**
/scripts/webframeworks-deploy-tests/nextjs/**
/scripts/agent-evals/output/**
/src/frameworks/docs/**
/prompts
/skills

# Intentionally invalid YAML file:
/src/test/fixtures/extension-yamls/invalid/extension.yaml
