rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /topLevel {
      allow list;
    }

    match /disallowSize0 {
      allow create: if request.resource.size != 0;
    }

    match /testing/{allPaths=**} {
      allow read, create, update, delete: if request.auth != null;
    }

    match /listAll/{allPaths=**} {
      allow list;
    }

    match /delete {
      match /disallowIfContentTypeText {
        allow create;
        allow delete: if resource.contentType != 'text/plain';
      }
    }

    match /upload {
      match /allowIfContentTypeImage.png {
        allow create: if request.resource.contentType == 'image/blah';
      }
      match /replace.txt {
        allow read, create;
      }
      match /allowIfNoExistingFile.txt {
        allow create: if resource == null;
      }
    }

    match /public/{allPaths=**} {
      allow read, write;
    }
  }
}

