rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Security rules are closed by default - if you don't have a rule that grants access,
    // clients will not be able to read or write to that location in Firestore.
    // Below is an example of how to open up a collection to only authenticated users
    // For more help developing your security rules, see https://firebase.google.com/docs/rules/basics
    match /some_collection/{document} {
      allow read, write: if request.auth != null;
    }
  }
}
