.vscode/**
.vscode-test/**
src/**
webviews/**
common/**
extension/**
public/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
webpack.*.js
../
*.zip
node_modules/
dist/test/
*.tgz
package-lock.json
.wdio-vscode-service/