name: Web Frameworks tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"
    # TODO tune these tests, once they are fast and relaible we should consider enabling generally
    paths:
      - "src/frameworks/**.ts"
      - ".github/workflows/frameworks.yaml"
  release:
    types:
      - published
  schedule:
    - cron: 0 0 * * 1-5

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        node: [ "16", "18" ]
        framework: [ "next", "angular", "custom", "vite" ]
      fail-fast: false
    name: Test ${{ matrix.framework }} on Node ${{ matrix.node }} (${{ matrix.os }})
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node }}
      - name: Install deps
        run: npm ci
      - name: Tests
        run: |
          node lib/bin/firebase.js experiments:enable webframeworks
          node_modules/.bin/ts-node ./scripts/frameworks-tests/test-${{ matrix.framework }}.ts
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
